@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
.form {
    font-size: toRem(14);
    position: relative;
    label {
        margin-right: 8px;
        margin-bottom: 6px;
        line-height: 24px;
    }
    .span_red {
        color: $fav;
    }
    .haveAccount {
        font-size: toRem(14);
        line-height: 26px;
        color: $secondary;
        .new {
            color: $primary;
        }
    }
    .group {
        position: relative;
    }
    .errorMessage {
        font-size: toRem(12);
        // margin-top: 6px;
        margin-right: 8px;
        line-height: 23px;
        color: $fav;
        position: absolute;
        right: 0;
    }
}