@use "../../../styles/functions" as *;
@use "../../../styles/variables" as *;
.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    @media (min-width: $device-md) {
        flex-direction: row;
    }
    .request {
        @media (min-width: $device-md) {
            margin-top: 16px;
        }
    }
}