$primary: #013ca6;
$dark: #1e1f31;
$secondary: #212529;
$dark-grey: #626a6f;
$light-grey: #a5a9ab;
$gold: #a66701;
$fav: #e30000;
$white: #ffffff;
$light: #d2d2d2;
$yellow: #ffa900;
$active-user: #00e358; // $light-gold:#A66701;
$green: #01a618;
///////////////////////////
$device-sm: 576px;
$device-md: 768px;
$device-lg: 992px;
$device-xl: 1200px;
$device-xxl: 1400px;