@use "../../../styles/functions" as *;
@use "../../../styles/variables" as *;
.form {
    width: 100%;
    padding: 32px 16px;
    @media (min-width: $device-md) {
        padding: 32px 32px;
    }
    @media (min-width: $device-lg) {
        padding: 32px 100px;
    }
    @media (min-width: $device-xl) {
        padding: 32px 245px;
    }
    border-radius: 8px;
    // box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.1);
    &_label,
    &_labelImage {
        font-size: toRem(14);
        line-height: 24px;
        margin-bottom: 6px;
        span {
            color: $fav;
        }
    }
    &_label {
        margin-right: 8px;
    }
    &_input {
        padding: 10px 8.5px;
        border-radius: 8px;
        font-size: toRem(14);
        line-height: 24px;
        border-color: $light;
    }
    .buttons {
        display: flex;
        justify-content: center;
        .button {
            width: 180px;
            font-size: toRem(16);
            line-height: 30px;
            &:first-child {
                margin-left: 16px;
            }
        }
    }
}